/*  Set to default, then set up container */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  max-width: 80%;
  overflow: auto;
  padding: 0 1.5rem;
}

/* Main Page settings */
body, html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.7rem;
}


/* Navbar settings */
.navbar a {
  text-decoration: none;
}

