/*  Set to default, then set up container */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  max-width: 80%;
  overflow: auto;
  padding: 0 1.5rem;
}

/* Main Page settings */
body, html {
  font-family: serif;
  line-height: 1.7rem;
  background-color: #633f20;
  
}

/* Utility Classes */
.primary_font {
  color: #fff;
}

.secondary_font {
  color:  #d5d8dc ;
  /* color:  #202a63 ; */
}

.italics {
  font-style: italic;
}

/* Navbar settings */

.navbar {
  background-color: #633f20 ;
  overflow: auto;

}

.navbar .logo img {
  float: left;
  max-width: 6rem;
  max-height: 6rem;
  height: auto;
}

.navbar li {
  display: inline;
}

.navbar li a {
  text-decoration: none;
  float: right;
  padding: 2rem;
  color: #fff;
  
}

.navbar li a:hover {
  color: aliceblue;
  background-color: #5c5f5e;
}

/* Main showcase */
.showcase_image {
  background: url(/images/shop_interior.jpg) no-repeat center center/cover;
  height: 60rem;
}

#showcase_tagline h2 {
  padding-top: 15rem;
  line-height: 10rem;
  font-size: 6rem;
  text-align: center;
}

/* Showcase Pictures */
.showcase_info {
  padding-top: 1rem;
  height: 20rem;
}

.showcase_pics #pic1 {
  background: url(/images/pic1.jpg) no-repeat center center/cover;
}

.showcase_pics #pic2 {
  background: url(/images/pic2.jpg) no-repeat center center/cover;
}

.showcase_pics #pic3 {
  background: url(/images/pic3.jpg) no-repeat center center/cover;
}

.showcase_pics #pic4 {
  background: url(/images/pic4.jpg) no-repeat center center/cover;
}

.showcase_pics #pic5 {
  background: url(/images/pic5.jpg) no-repeat center center/cover;
}
.showcase_pics .image_small {
  height: 20rem; 
  width: 20%;
  float: left;
}




